body {
  background: #2d2d2d;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle:nth-of-type(1) {
  width: 200px;
  height: 200px;
  left: 10vw;
  bottom: 15vh;
  background: linear-gradient(to bottom, #fb00ff, #ff0000);
}

.circle:nth-of-type(2) {
  width: 50px;
  height: 50px;
  right: 30vw;
  bottom: 30vh;
  background: linear-gradient(to bottom, #00ffddb4, #37ff00c1);
}

.circle:nth-of-type(3) {
  width: 250px;
  height: 250px;
  right: 10vw;
  top: 15vh;
  background: linear-gradient(to bottom, #62ff00, #fff200);
}

.circle:nth-of-type(4) {
  width: 50px;
  height: 50px;
  left: 20vw;
  top: 30vh;
  background: linear-gradient(to bottom, #00fbe2cd, #00a6ff);
}

.wrapper {
  width: 70vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: translate(-50%, -50%);
  background: #ffffff00;
  border-radius: 25px;
  border: 1px solid #fff;
  box-shadow: 10px 10px 25px #00000044, -10px -10px 25px #00000044;
}

.header {
  position: relative;
  top: 30px;
  display: flex;
  color: #fff;
}

.header .logo {
  width: 5%;
  display: flex;
  position: absolute;
  left: 30px;
  margin-top: -30px;
}

.header ul {
  display: flex;
  position: absolute;
  right: 30px;
}

.header ul li {
  list-style: none;
  display: flex;

  text-align: center;
  justify-content: center;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.github_btn {
  background-color: #000;
  border-radius: 50px;
  box-shadow: 6px 6px 15px #0000002b;
}

a {
  color: inherit;
  text-decoration:none;
}

.section1 {
  position: absolute;
  top: 150px;
  left: 70px;
  color: #fff;
  width: 500px;
}

.section1 h2 {
  font-size: 30px;
}

.section1 span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.section1 p {
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
}

.section2 {
  position: absolute;
  top: 100px;
  right: 140px;
  width: 600px;
}




@font-face {
  font-family: Porson;
  src: url(Porson.ttf);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
}

.audio-player {
  max-width: 350px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: var(--white);
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
  color: #fff;
}

.artist {
  font-weight: 300;
  margin-top: 0;
  color: #fff;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
  no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.text-box {
  width: 700px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: #fff;
}